html {
    height: 100%;
}

body {
    background-color: #FDD9B7;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: black;
    overflow: hidden;
    font-family: 'Gentium Book Basic', serif; 
}

/* w3schools responsive navbar example */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: yellow;
}

.navbar a.active {
    color: yellow;
    text-decoration: underline;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.response {
        position: relative; 
    }
    
    .navbar.response a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .navbar.response a {
        float: none;
        display: block;
        text-align: left;
    }
}

.welcome {
    padding: 30px;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
   
}

.welcome h1 {
    padding: 30px;
    font-size: 50px;
    color: black;
}

.welcome p {
font-size:30px;
}

.posts {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline block;
    margin: 4px 3px;
    transition-duration: 0.3s;
    cursor:pointer;
    border-radius: 25px;
}

.posts:hover {
    background-color:white;
    color:black;
}

.button {
    padding-top: 50px;
}

.footer p {
    font-size: 10px;
}

.footer {
    margin-top: auto;
}

@media screen and (max-width: 700px) {
    .footer li {
        text-align: left;
        padding: 2px;
        margin-bottom: 0px;
        display: block;
        font-size: 8px;
    }
    
    .footer {
        padding: 2px;
    }
    
    .footer ul {
        margin-bottom: 0px;
        font-size: 8px;
        margin-top: 0px;
        font-size: 8px;
    }
    .footer p {
        margin-bottom: 0px;
        font-size: 8px;
    }
}